body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
}

#username-container,
#chat-container,
#chat-input-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}

#username-input,
#chat-input {
    flex-grow: 1;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-right: 10px;
}

#username-button,
#send-button
 {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

#set-color-button{
    padding: 8px 10px;
    border-radius: 4px;
    border : none;
    margin-left: 5px;
    background-color: #4CAF50;
    color: white;
}

#color-picker-div{
    display: flex;
    align-items: center;
    border-spacing: 20px;
}

#chat-container {
    height: 400px;
    overflow-y: scroll;
    border: 1px solid #ccc;
    padding: 10px;
}

#messages {
    list-style-type: none;
    padding: 0;
}

#messages li {
    margin-bottom: 10px;
}